<tr>
	<td class="wrapper">
		<span class="preheader">Welcome to Street Exchange!</span>

		<p>Hi {{name}}</p>
		<p>Welcome to Street Exchange!</p>
		<img
			src="https://streetxchange.com/assets/welcome-banner.png"
			alt="Welcome to Street Exchange"
			style="width:100%;max-width:400px;border-radius:8px;margin:16px 0;"
		/>
		<p>
			We're excited to have you join our community.<br />
			With Street Exchange, you can easily sell gift cards, trade crypto,
			and use your assets to purchase items like flight tickets and more.<br
			/>
			Start exploring and make the most of your digital assets today!
		</p>
	</td>
</tr>